
<div class="container-fluid">
<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <p><%= form.label :企業名 %></p>
    <p><%= form.text_field :title, :class => 'company' %></p>
  </div>

  <div class="blog_title">
  <p><%= form.label :事業内容 %></p>
  <div class="text_area">
    <p><%= form.text_area :content %></p>
  </div>
  </div>

  <div class="blog_url">
    <p><%= form.label :Url %></p>
    <p><%= form.text_field :url, :class => 'url' %></p>
  </div>

  <div class="field">
        <p><%= form.label :image %></p>
        <p><%= image_tag(@blog.image.url) if @blog.image.url %></p>
        <p><%= form.file_field :image, id: :feed_image %></p>
  </div>


  <div class="actions">
        <%= form.submit %>
  </div>
<% end %>

<%= link_to "一覧画面にもどる", blogs_path %>
</div>
