<div class="container-fluid">
<h1>企業一覧</h1>
<p>掲載企業　<%= @blogs.size %>件</p>
<p><%= notice %></p>






<% @blogs.each do |blog| %>
<div class="box13">
<table >
<tr>
  <td><% if blog.user_id == 1 %>
      <%= image_tag('diverp.png', class: "logo") %>
      <% else %>
      <%= image_tag('new.jpg', class: "logo") %>
      <% end %>
  </td>
    <td class= "companyname"><%= blog.title %></td>

    <td class="detail"><div class="width"><p class="center"><%= blog.content %></p></div></td>
<td class="button">
    <td><button><%= link_to '会社概要', blog.url %></button></td>
    <td><button><%= link_to '詳細', blog_path(blog.id) %></button></td>
    <% if logged_in? %>
    <% if blog.user_id == current_user.id %>
    <td><button><%= link_to "編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></button></td>
    <td><button><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button></td>
</td>
    <% end %>
</div>
    <% end %>
    <td><p><%= blog.comments.size %>件</p>

    <td><%#= blog.message_time %></td>
  </tr>

</table>
</div>
<% end %>




<br>
 <%= paginate @blogs %>
<button><%= link_to '新しく情報を登録する', new_blog_path %></button>
</div>
