<div class="container-fluid">
<h1>一覧</h1>
<p><%= notice %></p>






<% @blogs.each do |blog| %>
<div class="box13">
    <p>タイトル</p>


    <p><%= blog.title %></p>


    <p>内容</p>

    <div class="width"><p class="center"><%= blog.content %></p></div>
    <p><%= blog.message_time %></p>
    <button><%= link_to '詳細', blog_path(blog.id) %></button>
    <% if logged_in? %>
    <% if blog.user_id == current_user.id %>
    <button><%= link_to "編集", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></button>
    <button><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button>

    <% end %>
    <% end %>
</div>
<% end %>




<br>
 <%= paginate @blogs %>
<button><%= link_to '新しく情報を登録する', new_blog_path %></button>
</div>
